<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

		<link href="table.css" rel="stylesheet" type="text/css">
		<script src="table.js"></script>

	</head>

	<body ng-app = "orderByName" ng-controller = "Controller">

		<input type = "text" ng-model = "test" placeholder = "Filter text"/>
		<select ng-model = "pageSize">
			<option value="5">5</option>
			<option value="10">10</option>
		</select></br></br>
		<table class="employee">
		  <tr>
		    <th ng-click="orderByMe('name')">Employee</th>
		    <th ng-click="orderByMe('dept')">Department </th>
		    <th >Role</th>
		    <th>Type</th>
		  </tr>
		<tr ng-repeat="emp in employee | orderBy:myOrderBy | filter:{'name':test} | startFrom:currentPage*pageSize | limitTo:pageSize">
           <td>{{emp.name}}</td>
           <td>{{emp.dept}}</td>
           <td>{{emp.role}}</td>
		   <td>{{emp.type}}</td>
		</tr>
	</table></br>
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn">
			Previous
		</button>
			{{currentPage+1}}/{{numberOfPages()}}
		<button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn">
			Next
		</button>

	</body>
</html>